<header>
    <h1>Smart Records System</h1>
</header>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="assets/images/04.jpg" alt="">
      </div>
    
      <div class="col">
        <p>ESP32 เป็นชื่อของไอซีไมโครคอนโทรลเลอร์ที่รองรับการเชื่อมต่อ WiFi มีความสามารถการเชื่อม ต่อ Bluetooth Low-Energy (BLE, BT4.0, Bluetooth Smart) ผลิตโดยบริษัท Espressif จาก ประเทศจีน</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="assets/images/05.jpg" alt="">
      </div>
    
      <div class="col">
        <p>แผงแป้นตัวเลขหมายถึง กลุ่มแป้นพิมพ์ที่มีตัวเลข และเครื่องหมายที่ใช้ในการคำนวณ จัดไว้เป็นกลุ่มเดียวกัน เรียงกันแบบเดียวกับเครื่องคิดเลข มักอยู่ทางด้านริมขวาของแผงแป้นอักขระ (keyboard) เพื่อ ความสะดวกรวดเร็วในการพิมพ์ ถ้าจะพิมพ์เฉพาะตัวเลข มีราว ๆ 10 - 20 แป้น การใช้แป้นใน กลุ่มนี้พิมพ์ตัวเลข จะต้องกดแป้น Num Lock ก่อน (ดู Num Lock) มิฉะนั้นจะใช้เป็นเหมือนแป้นลูกศร หรือพิมพ์ไม่ติดเลย หรืออาจเป็นสัญลักษณ์สั่งให้คอมพิวเตอร์ ทำคำสั่งอื่น ๆ แทน</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="assets/images/06.jpg" alt="">
      </div>
    
      <div class="col">
        <p>กล้องถ่ายภาพ หรือ กล้องถ่ายรูป เป็นเหมือนกล่องทึบแสง ที่ทำหน้าที่รับแสงในปริมาณที่เหมาะสมเพื่อใช้ในการสร้างภาพ กลไกและชิ้นส่วนต่าง ๆ ของกล้องทำงานสัมพันธ์กันในการที่จะควบคุมปริมาณแสงไปยังหน่วยรับภาพอย่างถูกต้องแม่นยำ อีกทั้งยังควบคุมความคมชัดของภาพ ตลอดจนอำนวยความสะดวกต่าง ๆ ในการบันทึกภาพ</p>
      </div>
    </div>
  </div>